body {
    margin: 0;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.w-embed:before,
.w-embed:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-embed:after {
    clear: both;
}

.w-slider {
    position: relative;
    height: 300px;
    text-align: center;
    background: #dddddd;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

.w-slider-mask {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
}

.w-slide {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;
}

.w-slider-nav {
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

.w-slider-nav.w-round>div {
    border-radius: 100%;
}

.w-slider-dot {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin: 0 3px 0.5em;
    transition: background-color 100ms, color 100ms;
}

.w-slider-dot.w-active {
    background-color: #fff;
}

.w-slider-dot:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff;
}

.w-slider-dot:focus.w-active {
    box-shadow: none;
}

.w-slider-arrow-left,
.w-slider-arrow-right {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    color: white;
    font-size: 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w-slider-arrow-left:focus,
.w-slider-arrow-right:focus {
    outline: 0;
}

.w-slider-arrow-left {
    z-index: 3;
    right: auto;
}

.w-slider-arrow-right {
    z-index: 4;
    left: auto;
}

.w-slider-aria-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.w-richtext:before,
.w-richtext:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-richtext:after {
    clear: both;
}

.w-condition-invisible {
    display: none !important;
}

body {
    background-color: #f4f3f3;
    font-family: Neuemontreal, sans-serif;
    color: #000;
    font-size: 1vw;
    line-height: 1;
    font-weight: 400;
}

p {
    margin-bottom: 1em;
    font-size: 1.5vw;
    line-height: 1.3;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    z-index: 10;
    width: 100%;
}

.section {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10em 3.5em;
}

.section.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0em;
    padding-top: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section.no-padding {
    padding-top: 0em;
    padding-bottom: 10em;
}

.grid-container {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100vh;
    padding-right: 3.5em;
    padding-left: 3.5em;
}

.grid-column {
    width: 25%;
    border-right: 1px solid #000;
    border-left: 1px none #000;
}

.grid-column.first {
    border-right-style: solid;
    border-left-style: solid;
}

.navbar-container {
    position: absolute;
    z-index: 20;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 3.5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.big-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-size: 5.3em;
    line-height: 1.1;
}

.red-text {
    color: #fe505d;
}

.bouttons-container {
    display: flex;
    margin-top: 4.8em;
    flex-direction: row;
}

.bouttons-container.align-bottom {
    margin-top: auto;
}

.boutton {
    position: relative;
    display: block;
    overflow: hidden;
    margin-right: 1.5em;
    padding: 0.5em 1.5em;
    border: 1px solid #000;
    border-radius: 300em;
    font-size: 1.5vw;
    cursor: pointer;
}

.boutton:hover {
    transform: scale(1.05);
}

.boutton.white {
    border-color: #f4f3f3;
    color: #f4f3f3;
}

.boutton.white:hover {
    background-color: #f4f3f3;
    color: #002b99;
}

.hero-text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.line-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
}

.rounded-section {
    position: relative;
    z-index: 10;
    margin-bottom: -15em;
    padding-top: 25em;
    padding-bottom: 5em;
    border-radius: 0em 0em 15em 15em;
}

.rounded-section.red {
    background-color: #fe505d;
    color: #f4f3f3;
}

.rounded-section.first {
    z-index: 11;
    padding-top: 0em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}

.rounded-section.first.blue {
    background-color: #002b99;
    color: #f4f3f3;
}

.rounded-section.footer {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    min-height: 100vh;
    margin-bottom: 0em;
    padding-top: 20em;
    padding-bottom: 3.5em;
    border-radius: 0em;
    background-color: #002b99;
    color: #f4f3f3;
}

.rounded-section.footer.red {
    background-color: #fe505d;
}

.rounded-section.blue {
    background-color: #002b99;
}

.footer-links-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer-links-container.bas {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 3.5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.footer-links-container.bas.vertical {
    bottom: 8em;
    padding-left: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-links {
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.708, 0.106, 0.25, 1);
    transition: -webkit-transform 200ms cubic-bezier(0.708, 0.106, 0.25, 1);
    transition: transform 200ms cubic-bezier(0.708, 0.106, 0.25, 1);
    transition: transform 200ms cubic-bezier(0.708, 0.106, 0.25, 1), -webkit-transform 200ms cubic-bezier(0.708, 0.106, 0.25, 1);
    color: #f4f3f3;
    font-size: 2vw;
    line-height: 1.4;
}

.text-block-2 {
    margin-top: 10em;
}

.div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 23.25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.div-block-6 {
    height: 100vh;
}

.social-icone {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.menu-links-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: padding 200ms ease;
    transition: padding 200ms ease;
    color: #f4f3f3;
}

.menu-links-container:hover {
    padding-left: 1em;
}

.menu-links-container.anim-transition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.plus-container {
    margin-right: 1em;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.plus-container.plus-brands {
    position: absolute;
    left: auto;
    top: 3em;
    right: 2em;
    bottom: auto;
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transition: transform 200ms ease, opacity 200ms ease;
    transition: transform 200ms ease, opacity 200ms ease, -webkit-transform 200ms ease;
}

.plus-container.plus-brands.turn45 {
    /* -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); */
    cursor: pointer;
}

.plus {
    width: 2em;
}

.burger-line {
    height: 2px;
    background-color: #002b99;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.burger-line.first {
    margin-bottom: 10px;
}

.burger {
    position: absolute;
    left: auto;
    top: 0%;
    right: 3.5em;
    bottom: auto;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.menu {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 34.5vw;
    height: 100vh;
    padding-top: 12em;
    padding-bottom: 5em;
    padding-left: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    background-color: #fe505d;
    -webkit-transform: translate(101%, 0px);
    -ms-transform: translate(101%, 0px);
    transform: translate(101%, 0px);
    -webkit-transition: -webkit-transform 350ms ease;
    transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    transition: transform 350ms ease, -webkit-transform 350ms ease;
    color: #f4f3f3;
}

.close-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: none;
    width: 65.5vw;
    height: 100vh;
}

.brands-container {
    position: relative;
}

.brands-infos-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.brands-image {
    position: absolute;
    z-index: 200;
    overflow: hidden;
    width: 33%;
    height: 31vw;
    border-radius: 6em;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transition: border-radius 500ms ease;
    transition: border-radius 500ms ease;
    cursor: pointer;
}
/* 
.brands-image.shape-add-4 {
    border-radius: 0em 10em;
}

.brands-image.shape-add-4:hover {
    border-radius: 10em 0em;
}

.brands-image.shape-add-1:hover {
    border-radius: 2.1em;
}

.brands-image.shape-add-2 {
    border-radius: 0px 20em 0em 0em;
}

.brands-image.shape-add-2:hover {
    border-top-right-radius: 0em;
    border-bottom-left-radius: 20em;
}

.brands-image.shape-add-3 {
    border-radius: 20em 20em 0em 0em;
}

.brands-image.shape-add-3:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 20em;
}

.brands-image.shape-add-5 {
    border-radius: 20em 0em 0em;
}

.brands-image.shape-add-5:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 20em;
} */

.brands-item {
    position: relative;
    padding-top: 8em;
    padding-bottom: 0em;
    border-style: none;
    border-width: 1px;
    border-color: #f4f3f3;
    border-radius: 3em;
    -webkit-transition: padding 500ms ease;
    transition: padding 500ms ease;
}

.brands-infos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 31vw;
    padding-top: 0em;
    padding-right: 3em;
    padding-left: 33vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.titles {
    font-size: 3.5em;
    line-height: 1.15;
}

.titles.margins.padding-right {
    padding-right: 23vw;
}

.paragraph {
    margin-top: 1em;
    font-size: 1.5em;
    line-height: 1.3;
}

.paragraph.max-ch {
    max-width: 50ch;
}

.brands-logo {
    width: 8em;
    margin-bottom: 3em;
}

.div-block-12 {
    position: relative;
    top: 0em;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px none #f4f3f3;
}

.div-block-12.our-brands {
    opacity: 0;
}

.collection-list-wrapper {
    margin-top: 3em;
}

.div-block-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 87vh;
    padding-bottom: 5em;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.line-curved {
    position: relative;
    height: 9em;
    margin-top: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color: #f4f3f3;
    border-radius: 5vw;
    -webkit-transition: height 200ms ease;
    transition: height 200ms ease;
}

.line-mask {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 80%;
    min-width: 100vw;
    margin-top: -0.5em;
    margin-left: -5vw;
    background-color: #002b99;
}

.div-block-16 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.expand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f4f3f3;
}

.collapse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f4f3f3;
}

.item-collapse {
    position: absolute;
    z-index: 900;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 8em;
    min-height: 8em;
    margin-top: 0.5em;
    padding: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.item-collapse.hide {
    display: none;
    opacity: 0;
}

.image-2 {
    width: 8em;
    min-width: 8em;
    -o-object-fit: contain;
    object-fit: contain;
}

.div-block-17 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 31vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.div-block-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider {
    display: none;
    width: 93vw;
    height: 100%;
    background-color: transparent;
}

.slide-nav {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50% 50%;
    background-size: cover;
}

.close-image-slider {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 0em;
    margin-bottom: 0em;
    padding-right: 2em;
    padding-bottom: 2em;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer;
}

.image-3 {
    width: 2.5vw;
    max-width: none;
}

.right-arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    padding-right: 2vw;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient( linear, right top, left top, from(rgba(0, 0, 0, 0.25)), color-stop(85%, transparent));
    background-image: linear-gradient( 270deg, rgba(0, 0, 0, 0.25), transparent 85%);
    font-style: normal;
}

.left-arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    padding-left: 2vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient( linear, left top, right top, from(rgba(0, 0, 0, 0.25)), color-stop(85%, transparent));
    background-image: linear-gradient( 90deg, rgba(0, 0, 0, 0.25), transparent 85%);
}

.subtitles {
    font-size: 2em;
    line-height: 1.3;
    font-weight: 400;
}

.subtitles.margin-left {
    margin-right: 0.8vw;
}

.splide__arrow {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border-radius: 100%;
    background-color: transparent;
    background-image: url("https://assets.website-files.com/610c251287ec86f4848cd877/61196b2069f2481a7e69cecf_Cards%20Arrow%20Prev.png");
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.splide__arrow:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}

.splide__arrow.backtotop {
    width: 3vw;
    height: 3vw;
    margin-right: 0em;
    margin-left: 1vw;
    border-radius: 0%;
    background-image: none;
}

.lottie-intext-container {
    display: flex;
    width: 5.5vw;
    height: 5.5vw;
    margin-right: 0.8em;
    margin-left: 0.8em;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 0.5em);
    -o-object-fit: contain;
    object-fit: contain;
}

.lottie-intext-container.bigger {
    width: 9.5vw;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.logo-nolk-wrapper {
    width: 6.5vw;
}

.social-link.footer {
    margin-bottom: 1vw;
}

.div-block-29 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.div-block-29.hide {
    display: none;
}

.div-block-31 {
    margin-bottom: 1em;
}

.expand-collapse {
    width: 2em;
    height: auto;
}

.lottie-openphoto {
    width: 3.5em;
}

.close-individual {
    width: 0%;
}

.logos-brand-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 10em;
    padding-left: 1em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
}

.line.white {
    background-color: #f4f3f3;
}

.line.white.margin-top {
    margin-top: 1em;
}

.line.white.anim-line-hover {
    width: 0%;
    -webkit-transition: width 200ms ease;
    transition: width 200ms ease;
}

.transition {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 9999999;
    width: 100%;
    height: 130vh;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    background-color: #00ccc3;
    -webkit-transform: translate(0px, 130vh);
    -ms-transform: translate(0px, 130vh);
    transform: translate(0px, 130vh);
    -webkit-transition: -webkit-transform 950ms cubic-bezier(0.45, 0.013, 0.199, 1.001);
    transition: -webkit-transform 950ms cubic-bezier(0.45, 0.013, 0.199, 1.001);
    transition: transform 950ms cubic-bezier(0.45, 0.013, 0.199, 1.001);
    transition: transform 950ms cubic-bezier(0.45, 0.013, 0.199, 1.001), -webkit-transform 950ms cubic-bezier(0.45, 0.013, 0.199, 1.001);
}

.transition-fade {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 80000;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    -webkit-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    -webkit-transition: opacity 400ms cubic-bezier(0.298, -0.011, 1, 0.785);
    transition: opacity 400ms cubic-bezier(0.298, -0.011, 1, 0.785);
}

.div-block-39 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.div-block-40 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 991px) {
    p {
        margin-bottom: 12px;
        font-size: 16px;
    }
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section.footer {
        padding-bottom: 20em;
    }
    .section.no-padding.ourbrands {
        padding-top: 15em;
    }
    .grid-container {
        display: none;
    }
    .boutton {
        margin-right: 20px;
        padding: 8px 20px;
        font-size: 14px;
    }
    .rounded-section.footer {
        position: relative;
        min-height: auto;
    }
    .rounded-section.footer.red {
        position: relative;
        min-height: auto;
    }
    .footer-links-container.bas.vertical {
        bottom: 13em;
    }
    .footer-links {
        font-size: 26px;
    }
    .div-block-5 {
        width: 100%;
    }
    .div-block-5.fotter {
        width: 50%;
    }
    .div-block-5.fotter.logo {
        width: 20%;
    }
    .div-block-6 {
        display: none;
    }
    .social-icone {
        width: 25px;
        height: 25px;
    }
    .plus {
        width: 2.5em;
    }
    .burger {
        width: 5em;
    }
    .close-menu {
        width: 50vw;
    }
    .titles {
        font-size: 26px;
    }
    .paragraph {
        font-size: 16px;
    }
    .div-block-13 {
        min-height: auto;
    }
    .subtitles {
        font-size: 22px;
    }
    .splide__arrow {
        width: 25px;
        height: 25px;
    }
    .logo-nolk-wrapper {
        width: 8vw;
    }
}

@media screen and (max-width: 767px) {
    p {
        font-size: 16px;
    }
    .section.no-padding {
        padding-top: 40px;
    }
    .navbar-container {
        margin-top: 30px;
    }
    .big-title {
        font-size: 7em;
    }
    .boutton {
        margin-right: 10px;
        padding: 6px 18px;
        font-size: 18px;
    }
    .line-text {
        max-height: none;
    }
    .rounded-section {
        margin-bottom: -125px;
        padding-top: 150px;
        padding-bottom: 80px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 120px;
        background-color: #754e4e;
    }
    .rounded-section.footer {
        position: relative;
        padding-top: 30em;
    }
    .footer-links-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-links-container.bas {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .footer-links-container.bas.vertical {
        position: relative;
        margin-top: 100px;
        padding-left: 0em;
    }
    .footer-links {
        font-size: 22px;
    }
    .div-block-5 {
        width: 50%;
    }
    .div-block-5.fotter {
        width: 40%;
    }
    .div-block-5.fotter.logo {
        width: 20%;
    }
    .div-block-6 {
        display: none;
    }
    .social-icone {
        width: 25px;
        height: 25px;
    }
    .plus {
        width: 20px;
    }
    .burger {
        width: 30px;
    }
    .menu {
        width: 100%;
        border-top-left-radius: 25em;
        border-bottom-left-radius: 25em;
    }
    .titles {
        font-size: 28px;
    }
    .paragraph {
        font-size: 16px;
    }
    .expand {
        margin-right: 20px;
    }
    .splide__arrow {
        width: 30px;
        height: 30px;
    }
    .lottie-intext-container {
        width: 7vw;
        height: 6vw;
        margin-right: 1.2em;
        margin-left: 1.2em;
        -webkit-transform: translate(0px, 0.6em);
        -ms-transform: translate(0px, 0.6em);
        transform: translate(0px, 0.6em);
    }
    .lottie-intext-container.bigger {
        width: 12vw;
    }
    .logo-nolk-wrapper {
        width: 10vw;
        margin-bottom: 20px;
    }
    .expand-collapse {
        width: 20px;
    }
    .div-block-32 {
        width: 60%;
    }
    .transition {
        border-top-left-radius: 120px;
        border-top-right-radius: 120px;
    }
}

@media screen and (max-width: 479px) {
    p {
        font-size: 16px;
    }
    .section {
        overflow: hidden;
        margin-bottom: 60px;
        padding: 40px 6vw;
    }
    .section.footer {
        padding-bottom: 0em;
    }
    .section.no-padding {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .section.no-padding.ourbrands {
        padding-top: 130px;
    }
    .navbar-container {
        margin-top: 30px;
        padding-right: 6em;
        padding-left: 6em;
    }
    .big-title {
        font-size: 9vw;
    }
    .bouttons-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-items: start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        grid-auto-columns: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    .bouttons-container.align-bottom {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bouttons-container.align-bottom.our-brands {
        margin-top: 10px;
    }
    .boutton {
        margin-top: 15px;
        margin-right: 15px;
        padding: 8px 20px;
        font-size: 16px;
    }
    .boutton.white.ourbrands {
        margin-top: 0px;
    }
    .rounded-section {
        margin-bottom: -25em;
        padding-top: 35em;
        padding-bottom: 10px;
        border-bottom-left-radius: 25em;
        border-bottom-right-radius: 25em;
    }
    .rounded-section.footer {
        min-height: 50vh;
        padding-top: 35em;
    }
    .footer-links-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-links-container.bas {
        position: relative;
        margin-top: 100px;
        padding-right: 0em;
        padding-left: 0em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .footer-links-container.bas.vertical {
        padding-left: 0em;
    }
    .footer-links {
        font-size: 22px;
    }
    .footer-links.in-footer {
        font-size: 22px;
    }
    .footer-links.in-footer.top {
        margin-top: 30px;
    }
    .div-block-5 {
        width: 100%;
    }
    .div-block-5.fotter {
        width: 100%;
    }
    .div-block-6 {
        height: 50vh;
    }
    .social-icone {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .menu-links-container {
        margin-top: 2px;
    }
    .menu-links-container:hover {
        padding-left: 0em;
    }
    .plus-container {
        margin-right: 10px;
    }
    .plus {
        width: 20px;
    }
    .burger {
        right: 6em;
        width: 40px;
    }
    .menu {
        border-top-left-radius: 25em;
        border-bottom-left-radius: 25em;
    }
    .brands-container {
        margin-top: 80px;
    }
    .brands-infos-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .brands-image {
        position: relative;
        width: 100%;
        height: 90vw;
        border-radius: 60px;
    }
    .brands-image.shape-add-4 {
        border-top-right-radius: 120px;
        border-bottom-left-radius: 120px;
    }
    .brands-image.shape-add-4:hover {
        border-radius: 0em 120px;
    }
    .brands-image.shape-add-1 {
        border-radius: 60px;
    }
    .brands-image.shape-add-1:hover {
        border-radius: 60px;
    }
    .brands-image.shape-add-2 {
        border-top-right-radius: 150px;
    }
    .brands-image.shape-add-2:hover {
        border-top-right-radius: 150px;
        border-bottom-left-radius: 0em;
    }
    .brands-image.shape-add-3 {
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }
    .brands-image.shape-add-3:hover {
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        border-bottom-left-radius: 0em;
    }
    .brands-image.shape-add-5 {
        border-top-left-radius: 150px;
    }
    .brands-image.shape-add-5:hover {
        border-top-left-radius: 150px;
        border-top-right-radius: 0em;
    }
    .brands-item {
        padding-top: 60px;
    }
    .brands-infos {
        margin-top: 20px;
        padding-left: 0vw;
    }
    .titles {
        font-size: 24px;
    }
    .titles.margins {
        margin-bottom: 10px;
    }
    .paragraph {
        margin-top: 15px;
        font-size: 16px;
    }
    .brands-logo {
        width: 100px;
        margin-bottom: 25px;
    }
    .div-block-12 {
        padding-top: 0em;
        padding-bottom: 5px;
    }
    .line-curved {
        height: 60px;
        border-radius: 50px;
    }
    .div-block-16 {
        display: none;
    }
    .slider {
        display: block;
        width: 100%;
    }
    .close-image-slider {
        display: none;
    }
    .image-3 {
        display: none;
        width: 25px;
    }
    .right-arrow {
        width: 100%;
        padding-right: 15px;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .left-arrow {
        display: none;
        padding-left: 15px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .subtitles {
        margin-bottom: 30px;
        font-size: 22px;
    }
    .subtitles.no-margin {
        margin-bottom: 0px;
    }
    .splide__arrow.backtotop {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .lottie-intext-container {
        width: 9vw;
        margin-right: 1.2em;
        margin-left: 1.2em;
    }
    .lottie-intext-container.bigger {
        width: 15vw;
    }
    .logo-nolk-wrapper {
        width: 15vw;
        margin-bottom: 20px;
    }
    .div-block-32 {
        margin-top: 5px;
    }
    .line.white.margin-top {
        margin-top: 5px;
    }
    .transition {
        border-top-left-radius: 25em;
        border-top-right-radius: 25em;
    }
}


/*! CSS Used from: Embedded */

* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.boutton {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}


/*! CSS Used fontfaces */

@font-face {
    font-family: "Neuemontreal";
    src: url("https://assets.website-files.com/610c251287ec86f4848cd877/61116d455581868156566bdf_NeueMontreal-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neuemontreal";
    src: url("https://assets.website-files.com/610c251287ec86f4848cd877/611415742d167b16acc5c169_NeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}