/*! CSS Used from: https://assets.website-files.com/610c251287ec86f4848cd877/css/nolk-ae69bb.45c3863b9.css */

body {
    margin: 0;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.w-embed:before,
.w-embed:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-embed:after {
    clear: both;
}

.w-form {
    margin: 0 0 15px;
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.w-input:-moz-placeholder {
    color: #999;
}

.w-input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.w-input:-ms-input-placeholder {
    color: #999;
}

.w-input::-webkit-input-placeholder {
    color: #999;
}

.w-input:focus {
    border-color: #3898EC;
    outline: 0;
}

textarea.w-input {
    height: auto;
}

.w-tabs {
    position: relative;
}

.w-tabs:before,
.w-tabs:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-tabs:after {
    clear: both;
}

.w-tab-menu {
    position: relative;
}

.w-tab-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 9px 30px;
    text-align: left;
    cursor: pointer;
    color: #222222;
    background-color: #dddddd;
}

.w-tab-link.w--current {
    background-color: #C8C8C8;
}

.w-tab-link:focus {
    outline: 0;
}

.w-tab-content {
    position: relative;
    display: block;
    overflow: hidden;
}

.w-tab-pane {
    position: relative;
    display: none;
}

.w--tab-active {
    display: block;
}

@media screen and (max-width:479px) {
    .w-tab-link {
        display: block;
    }
}

.w-condition-invisible {
    display: none!important;
}

body {
    background-color: #f4f3f3;
    font-family: Neuemontreal, sans-serif;
    color: #000;
    font-size: 1vw;
    line-height: 1;
    font-weight: 400;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fe505d;
    font-size: 5.3vw;
    line-height: 1.1;
    font-weight: 400;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    z-index: 10;
    width: 100%;
}

.section {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10em 3.5em;
}

.section.hero-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    padding-right: 0em;
    padding-bottom: 3.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.section.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0em;
    padding-top: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section.no-padding {
    padding-top: 0em;
    padding-bottom: 10em;
}

.grid-container {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100vh;
    padding-right: 3.5em;
    padding-left: 3.5em;
}

.grid-column {
    width: 25%;
    border-right: 1px solid #000;
    border-left: 1px none #000;
}

.grid-column.first {
    border-right-style: solid;
    border-left-style: solid;
}

.navbar-container {
    position: absolute;
    z-index: 20;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 3.5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.big-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-size: 5.3em;
    line-height: 1.1;
}

.big-title.margin-right {
    margin-right: 1vw;
}

.big-title.typewriter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.body {
    background-color: #f4f3f3;
}

.red-text {
    color: #fe505d;
}

.bouttons-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4.8em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.boutton {
    position: relative;
    display: block;
    overflow: hidden;
    margin-right: 1.5em;
    padding: 0.5em 1.5em;
    border: 1px solid #000;
    border-radius: 300em;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    font-size: 1.5vw;
    cursor: pointer;
}

.boutton:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.hero-text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.hero-text-container.mobile-portrait {
    display: none;
}

.hero-text-container.mobile-landscape {
    display: none;
}

.line-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
}

.line-text.max-height {
    max-height: 5.4em;
}

.line-text.min-height {
    min-height: 6.5em;
}

.rounded-section {
    position: relative;
    z-index: 10;
    margin-bottom: -15em;
    padding-top: 25em;
    padding-bottom: 5em;
    border-radius: 0em 0em 15em 15em;
}

.rounded-section.red {
    background-color: #fe505d;
    color: #f4f3f3;
}

.rounded-section.first {
    z-index: 11;
    padding-top: 0em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
}

.rounded-section.first.white {
    background-color: #f4f3f3;
    color: #002b99;
}

.rounded-section.footer {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    min-height: 100vh;
    margin-bottom: 0em;
    padding-top: 20em;
    padding-bottom: 3.5em;
    border-radius: 0em;
    background-color: #002b99;
    color: #f4f3f3;
}

.blocks {
    position: absolute;
    overflow: hidden;
    width: 31vw;
    height: 31vw;
    padding: 2.5em;
    border-radius: 100%;
    -webkit-transition: margin-left 350ms ease, width 350ms ease, border-radius 350ms ease;
    transition: margin-left 350ms ease, width 350ms ease, border-radius 350ms ease;
    color: #f4f3f3;
}

.blocks.big-vertical {
    height: 62vw;
    padding: 0em;
    border-radius: 15em;
}

.blocks.big-horizontal {
    width: 62vw;
    padding: 0em;
    border-radius: 0px 15em 0%;
}

.blocks.block-01 {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 10;
    padding-right: 4.7em;
    border-radius: 0px 0% 20em;
    background-color: #fe505d;
    cursor: pointer;
}

.blocks.block-01.anim-01 {
    border-top-right-radius: 20em;
    border-bottom-right-radius: 0em;
}

.blocks.block-02 {
    margin-left: 31vw;
    padding: 0em;
    border-radius: 0%;
}

.blocks.block-03 {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 10;
    padding-left: 10em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 15em 0px 0% 15em;
    background-color: #002b99;
    text-align: right;
    cursor: pointer;
}

.blocks.block-03.anim-01 {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 20em;
}

.blocks.block-04 {
    z-index: 10;
    border-radius: 5em;
    background-color: #f4ed6b;
    color: #002b99;
    cursor: pointer;
}

.blocks.block-04.anim-01 {
    border-radius: 0em 0em 20em;
}

.blocks.block-05 {
    margin-left: 31vw;
    padding: 0em;
    border-radius: 20em;
}

.blocks-line {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 93vw;
    height: 31vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.blocks-container {
    position: relative;
    height: 93vw;
}

.blocks-container.mobile {
    display: none;
}

.div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.div-block-3.second {
    margin-top: 31vw;
}

.div-block-4 {
    margin-left: 62vw;
}

.blocks-title {
    font-size: 4.5vw;
    font-weight: 400;
}

.footer-links-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer-links-container.bas {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 3.5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.footer-links-container.bas.vertical {
    bottom: 8em;
    padding-left: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-links {
    -webkit-transition: -webkit-transform 200ms cubic-bezier(.708, .106, .25, 1);
    transition: -webkit-transform 200ms cubic-bezier(.708, .106, .25, 1);
    transition: transform 200ms cubic-bezier(.708, .106, .25, 1);
    transition: transform 200ms cubic-bezier(.708, .106, .25, 1), -webkit-transform 200ms cubic-bezier(.708, .106, .25, 1);
    color: #f4f3f3;
    font-size: 2vw;
    line-height: 1.4;
}

.text-block-2 {
    margin-top: 10em;
}

.div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 23.25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.div-block-6 {
    height: 100vh;
}

.social-icone {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.menu-links-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: padding 200ms ease;
    transition: padding 200ms ease;
    color: #f4f3f3;
}

.menu-links-container:hover {
    padding-left: 1em;
}

.menu-links-container.anim-transition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.plus-container {
    margin-right: 1em;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.plus-container.casse-tete-home {
    position: absolute;
    left: 2.5em;
    top: auto;
    right: auto;
    bottom: 3.5em;
    margin-top: auto;
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transition: opacity 200ms ease, -webkit-transform 200ms ease;
    transition: transform 200ms ease, opacity 200ms ease;
    transition: transform 200ms ease, opacity 200ms ease, -webkit-transform 200ms ease;
}

.plus-container.casse-tete-home.align-right {
    left: auto;
    top: auto;
    right: 2.5em;
    bottom: 3.5em;
}

.plus {
    width: 2em;
}

.plus.bigger {
    width: 2.5em;
}

.burger-line {
    height: 2px;
    background-color: #002b99;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.burger-line.first {
    margin-bottom: 10px;
}

.burger {
    position: absolute;
    left: auto;
    top: 0%;
    right: 3.5em;
    bottom: auto;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.menu {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 34.5vw;
    height: 100vh;
    padding-top: 12em;
    padding-bottom: 5em;
    padding-left: 6em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    background-color: #fe505d;
    -webkit-transform: translate(101%, 0px);
    -ms-transform: translate(101%, 0px);
    transform: translate(101%, 0px);
    -webkit-transition: -webkit-transform 350ms ease;
    transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    transition: transform 350ms ease, -webkit-transform 350ms ease;
    color: #f4f3f3;
}

.close-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: none;
    width: 65.5vw;
    height: 100vh;
}

.form {
    margin-top: 2em;
}

.text-field {
    height: 1.5em;
    margin-top: 2vw;
    padding: 0px;
    border: 1px none #000;
    background-color: transparent;
    color: #f4f3f3;
    font-size: 5.6em;
    line-height: 1.5;
}

.text-field:focus {
    background-color: transparent;
}

.text-field::-webkit-input-placeholder {
    color: rgba(244, 243, 243, 0.26);
}

.text-field:-ms-input-placeholder {
    color: rgba(244, 243, 243, 0.26);
}

.text-field::-ms-input-placeholder {
    color: rgba(244, 243, 243, 0.26);
}

.text-field::placeholder {
    color: rgba(244, 243, 243, 0.26);
}

.submit-bouttons-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7em;
    padding-right: 0em;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.submit-bouttons-container.submit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.submit-button {
    margin-right: 1em;
    padding: 0.3em 2em;
    border-style: solid;
    border-width: 1px;
    border-color: #f4f3f3;
    border-radius: 20em;
    background-color: transparent;
    opacity: 0.26;
    color: #f4f3f3;
    font-size: 2vw;
    cursor: pointer;
}

.submit-button.submit-form {
    opacity: 1;
    cursor: pointer;
}

.submit-button.submit-form:hover {
    background-color: #f4f3f3;
    color: #fe505d;
}

.subtitles {
    font-size: 2em;
    line-height: 1.3;
    font-weight: 400;
}

.subtitles.padding-left {
    margin-top: 1em;
    padding-right: 3em;
}

.subtitles.padding-right {
    padding-left: 2em;
}

.subtitles.values-paragraph {
    opacity: 0;
}

.subtitles.values-paragraph.padding-right {
    min-width: 40vw;
    margin-top: 1em;
}

.splide__arrow {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border-radius: 100%;
    background-color: transparent;
    background-image: url("https://assets.website-files.com/610c251287ec86f4848cd877/61196b2069f2481a7e69cecf_Cards%20Arrow%20Prev.png");
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.splide__arrow:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}

.splide__arrow.backtotop {
    width: 3vw;
    height: 3vw;
    margin-right: 0em;
    margin-left: 1vw;
    border-radius: 0%;
    background-image: none;
}

.collection-list-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.logos-carroussel-homepage {
    width: 12em;
    max-width: none;
}

.collection-item-logo-carroussel {
    padding-right: 5em;
    padding-left: 5em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.div-block-25 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8em;
}

.tabs-menu {
    display: none;
}

.text-field {
    line-height: 1.2;
}

.success-message {
    margin-bottom: 10em;
    padding-left: 0px;
    background-color: transparent;
}

.icone-intext-lottie.cle {
    margin-top: 1.8em;
}

.lottie-intext-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 5.5vw;
    height: 5.5vw;
    margin-right: 0.8em;
    margin-left: 0.8em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate(0px, 0.5em);
    -ms-transform: translate(0px, 0.5em);
    transform: translate(0px, 0.5em);
    -o-object-fit: contain;
    object-fit: contain;
}

.lottie-intext-container.bigger {
    width: 9.5vw;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.lottie-intext-container.no-padding-left {
    margin-left: 0em;
}

.lottie-intext-container.no-padding-left.more-padding-right {
    margin-right: 1.2em;
}

.logo-nolk-wrapper {
    width: 6.5vw;
}

.social-link.footer {
    margin-bottom: 1vw;
}

.text-line-under {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #002b99;
}

.text-line-under.no-padding-left {
    margin-left: 0em;
    color: #002b99;
}

.line-under-text {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 2px;
    background-color: #fe505d;
    -webkit-transform: translate(0px, 0.2em);
    -ms-transform: translate(0px, 0.2em);
    transform: translate(0px, 0.2em);
}

.div-block-31 {
    margin-bottom: 1em;
}

.btn-anim-bk {
    position: absolute;
    left: -5%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 110%;
    height: 200%;
    border-radius: 100%;
    background-color: #000;
    -webkit-transform: translate(0px, 50%);
    -ms-transform: translate(0px, 50%);
    transform: translate(0px, 50%);
}

.btn-text {
    position: relative;
    z-index: 10;
    color: #000;
}

.line {
    width: 100%;
    height: 1px;
}

.line.white {
    background-color: #f4f3f3;
}

.line.white.anim-line-hover {
    width: 0%;
    -webkit-transition: width 200ms ease;
    transition: width 200ms ease;
}

.typed-cursor {
    margin-left: 0.5vw;
    border-left: 2px solid #002b99;
    color: #fe505d;
    font-size: 5.3vw;
}

.typed-cursor.white {
    border-left-color: #f4f3f3;
}

.anim-trigger-block {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 60vh;
}

.transition {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 9999999;
    width: 100%;
    height: 130vh;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    background-color: #00ccc3;
    -webkit-transform: translate(0px, 130vh);
    -ms-transform: translate(0px, 130vh);
    transform: translate(0px, 130vh);
    -webkit-transition: -webkit-transform 950ms cubic-bezier(.45, .013, .199, 1.001);
    transition: -webkit-transform 950ms cubic-bezier(.45, .013, .199, 1.001);
    transition: transform 950ms cubic-bezier(.45, .013, .199, 1.001);
    transition: transform 950ms cubic-bezier(.45, .013, .199, 1.001), -webkit-transform 950ms cubic-bezier(.45, .013, .199, 1.001);
}

.transition-fade {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 80000;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    -webkit-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    -webkit-transition: opacity 400ms cubic-bezier(.298, -.011, 1, .785);
    transition: opacity 400ms cubic-bezier(.298, -.011, 1, .785);
}

.div-block-40 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.collection-list-wrapper-4 {
    width: 100%;
    height: 100%;
}

.collection-list-3 {
    width: 100%;
    height: 100%;
}

.collection-item-2 {
    width: 100%;
    height: 100%;
}

.image-7 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section.hero-section {
        min-height: auto;
        padding-top: 15em;
    }
    .section.footer {
        padding-bottom: 20em;
    }
    .grid-container {
        display: none;
    }
    .boutton {
        margin-right: 20px;
        padding: 8px 20px;
        font-size: 14px;
    }
    .rounded-section.footer {
        position: relative;
        min-height: auto;
    }
    .footer-links-container.bas.vertical {
        bottom: 13em;
    }
    .footer-links {
        font-size: 26px;
    }
    .div-block-5 {
        width: 100%;
    }
    .div-block-5.fotter {
        width: 50%;
    }
    .div-block-5.fotter.logo {
        width: 20%;
    }
    .div-block-6 {
        display: none;
    }
    .social-icone {
        width: 25px;
        height: 25px;
    }
    .plus {
        width: 2.5em;
    }
    .plus.bigger {
        width: 3.5em;
    }
    .burger {
        width: 5em;
    }
    .close-menu {
        width: 50vw;
    }
    .subtitles {
        font-size: 22px;
    }
    .subtitles.values-paragraph {
        font-size: 16px;
    }
    .splide__arrow {
        width: 25px;
        height: 25px;
    }
    .logos-carroussel-homepage {
        width: 12em;
    }
    .logo-nolk-wrapper {
        width: 8vw;
    }
    .logo-nolk-wrapper.w--current {
        width: 8vw;
    }
}

@media screen and (max-width: 767px) {
    .section.hero-section {
        padding-top: 20em;
    }
    .section.no-padding {
        padding-top: 40px;
    }
    .navbar-container {
        margin-top: 30px;
    }
    .big-title {
        font-size: 7em;
    }
    .boutton {
        margin-right: 10px;
        padding: 6px 18px;
        font-size: 18px;
    }
    .hero-text-container.desktop {
        display: none;
    }
    .hero-text-container.mobile-portrait {
        display: none;
    }
    .hero-text-container.mobile-landscape {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .line-text {
        max-height: none;
    }
    .rounded-section {
        margin-bottom: -125px;
        padding-top: 150px;
        padding-bottom: 80px;
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 120px;
        background-color: #754e4e;
    }
    .rounded-section.footer {
        position: relative;
        padding-top: 30em;
    }
    .blocks {
        width: 44vw;
        height: 44vw;
        padding: 20px;
    }
    .blocks.big-vertical {
        height: 88vw;
        border-radius: 25em;
    }
    .blocks.big-horizontal {
        width: 44vw;
        margin-left: 44vw;
    }
    .blocks.block-01 {
        border-bottom-right-radius: 30em;
    }
    .blocks.block-02 {
        margin-left: 44vw;
    }
    .blocks.block-03 {
        margin-top: 88vw;
        margin-right: 5vw;
        padding-left: 50px;
        border-top-left-radius: 30em;
        border-bottom-left-radius: 30em;
    }
    .blocks.block-04 {
        border-radius: 8em;
    }
    .blocks.block-05 {
        margin-left: 44vw;
        border-radius: 100em;
    }
    .blocks-line {
        height: 44vw;
    }
    .blocks-container {
        display: none;
    }
    .blocks-container.mobile {
        display: block;
        height: 176vw;
    }
    .div-block-3.second {
        margin-top: 44vw;
    }
    .div-block-4 {
        margin-top: 44vw;
        margin-left: 0vw;
    }
    .footer-links-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-links-container.bas {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .footer-links-container.bas.vertical {
        position: relative;
        margin-top: 100px;
        padding-left: 0em;
    }
    .footer-links {
        font-size: 22px;
    }
    .div-block-5 {
        width: 50%;
    }
    .div-block-5.fotter {
        width: 40%;
    }
    .div-block-5.fotter.logo {
        width: 20%;
    }
    .div-block-6 {
        display: none;
    }
    .social-icone {
        width: 25px;
        height: 25px;
    }
    .plus-container.casse-tete-home {
        left: 20px;
        bottom: 30px;
    }
    .plus {
        width: 20px;
    }
    .plus.bigger {
        width: 25px;
    }
    .burger {
        width: 30px;
    }
    .menu {
        width: 100%;
        border-top-left-radius: 25em;
        border-bottom-left-radius: 25em;
    }
    .text-field {
        font-size: 7em;
    }
    .submit-button {
        padding: 6px 18px;
        font-size: 18px;
    }
    .subtitles.values-paragraph {
        font-size: 16px;
    }
    .subtitles.values-paragraph.padding-right {
        min-width: auto;
    }
    .splide__arrow {
        width: 30px;
        height: 30px;
    }
    .logos-carroussel-homepage {
        width: 14em;
    }
    .success-message {
        padding-left: 0px;
    }
    .lottie-intext-container {
        width: 7vw;
        height: 6vw;
        margin-right: 1.2em;
        margin-left: 1.2em;
        -webkit-transform: translate(0px, 0.6em);
        -ms-transform: translate(0px, 0.6em);
        transform: translate(0px, 0.6em);
    }
    .lottie-intext-container.bigger {
        width: 12vw;
    }
    .logo-nolk-wrapper {
        width: 10vw;
        margin-bottom: 20px;
    }
    .logo-nolk-wrapper.w--current {
        width: 10vw;
    }
    .text-line-under.no-padding-left {
        margin-right: 1.5em;
    }
    .line-under-text {
        height: 2px;
    }
    .div-block-32 {
        width: 60%;
    }
    .transition {
        border-top-left-radius: 120px;
        border-top-right-radius: 120px;
    }
}

@media screen and (max-width: 479px) {
    .section {
        overflow: hidden;
        margin-bottom: 60px;
        padding: 40px 6vw;
    }
    .section.hero-section {
        padding-top: 130px;
        padding-right: 20px;
    }
    .section.footer {
        padding-bottom: 0em;
    }
    .section.no-padding {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .navbar-container {
        margin-top: 30px;
        padding-right: 6em;
        padding-left: 6em;
    }
    .big-title {
        font-size: 9vw;
    }
    .bouttons-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-items: start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        grid-auto-columns: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    .boutton {
        margin-top: 15px;
        margin-right: 15px;
        padding: 8px 20px;
        font-size: 16px;
    }
    .hero-text-container.desktop {
        display: none;
    }
    .hero-text-container.mobile-portrait {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .hero-text-container.mobile-landscape {
        display: none;
    }
    .rounded-section {
        margin-bottom: -25em;
        padding-top: 35em;
        padding-bottom: 10px;
        border-bottom-left-radius: 25em;
        border-bottom-right-radius: 25em;
    }
    .rounded-section.footer {
        min-height: 50vh;
        padding-top: 35em;
    }
    .blocks {
        width: 44vw;
        height: 44vw;
        padding: 15px;
        -webkit-transition: height 350ms ease, margin-left 350ms ease, width 350ms ease, border-radius 350ms ease;
        transition: height 350ms ease, margin-left 350ms ease, width 350ms ease, border-radius 350ms ease;
    }
    .blocks.big-vertical {
        height: 88vw;
        border-radius: 20em;
    }
    .blocks.big-horizontal {
        width: 44vw;
        margin-left: 44vw;
    }
    .blocks.block-01 {
        padding-right: 80px;
        border-bottom-right-radius: 25em;
    }
    .blocks.block-02 {
        margin-left: 44vw;
    }
    .blocks.block-03 {
        left: auto;
        top: 0%;
        right: 0%;
        bottom: 0%;
        margin-top: 88vw;
        margin-right: 5vw;
        padding-left: 50px;
        border-top-left-radius: 25em;
        border-bottom-left-radius: 25em;
        -webkit-transition: margin 350ms ease, height 350ms ease, margin-left 350ms ease, width 350ms ease, border-radius 350ms ease;
        transition: margin 350ms ease, height 350ms ease, margin-left 350ms ease, width 350ms ease, border-radius 350ms ease;
    }
    .blocks.block-04 {
        padding-right: 44px;
        border-radius: 8em;
    }
    .blocks.block-05 {
        margin-left: 44vw;
        border-radius: 100%;
    }
    .blocks-line {
        height: 44vw;
    }
    .blocks-container {
        display: none;
    }
    .blocks-container.mobile {
        display: block;
        height: 176vw;
    }
    .div-block-3.second {
        margin-top: 44vw;
    }
    .div-block-4 {
        margin-top: 44vw;
        margin-left: 0vw;
    }
    .blocks-title {
        font-size: 22px;
    }
    .footer-links-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-links-container.bas {
        position: relative;
        margin-top: 100px;
        padding-right: 0em;
        padding-left: 0em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .footer-links-container.bas.vertical {
        padding-left: 0em;
    }
    .footer-links {
        font-size: 22px;
    }
    .footer-links.in-footer {
        font-size: 22px;
    }
    .footer-links.in-footer.top {
        margin-top: 30px;
    }
    .div-block-5 {
        width: 100%;
    }
    .div-block-5.fotter {
        width: 100%;
    }
    .div-block-6 {
        height: 50vh;
    }
    .social-icone {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
    .menu-links-container {
        margin-top: 2px;
    }
    .menu-links-container:hover {
        padding-left: 0em;
    }
    .plus-container {
        margin-right: 10px;
    }
    .plus-container.casse-tete-home {
        left: 15px;
    }
    .plus-container.casse-tete-home.align-right {
        right: 0px;
    }
    .plus {
        width: 20px;
    }
    .plus.bigger {
        min-width: 25px;
    }
    .burger {
        right: 6em;
        width: 40px;
    }
    .menu {
        border-top-left-radius: 25em;
        border-bottom-left-radius: 25em;
    }
    .text-field {
        font-size: 10vw;
    }
    .submit-bouttons-container {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .submit-button {
        font-size: 16px;
    }
    .subtitles {
        margin-bottom: 30px;
        font-size: 22px;
    }
    .subtitles.values-paragraph {
        font-size: 16px;
    }
    .subtitles.values-paragraph.padding-right {
        min-width: auto;
    }
    .splide__arrow.backtotop {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .logos-carroussel-homepage {
        width: 25em;
    }
    .collection-item-logo-carroussel {
        padding-right: 4em;
        padding-left: 4em;
    }
    .div-block-25 {
        margin-top: 80px;
    }
    .text-field {
        line-height: 1;
    }
    .success-message {
        padding: 0px;
        text-align: left;
    }
    .lottie-intext-container {
        width: 9vw;
        margin-right: 1.2em;
        margin-left: 1.2em;
    }
    .lottie-intext-container.bigger {
        width: 15vw;
    }
    .logo-nolk-wrapper {
        width: 15vw;
        margin-bottom: 20px;
    }
    .logo-nolk-wrapper.w--current {
        width: 15vw;
    }
    .div-block-32 {
        margin-top: 5px;
    }
    .transition {
        border-top-left-radius: 25em;
        border-top-right-radius: 25em;
    }
}


/*! CSS Used from: Embedded */

* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.boutton {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}


/*! CSS Used from: Embedded */

.values-paragraph {
    pointer-events: none;
}

.line-under-text {
    width: 0%;
}


/*! CSS Used from: Embedded */

.line-text {
    opacity: 100;
}


/*! CSS Used from: Embedded */

.typed-cursor {
    opacity: 1;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}


/*! CSS Used keyframes */

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'Neuemontreal';
    src: url('https://assets.website-files.com/610c251287ec86f4848cd877/61116d455581868156566bdf_NeueMontreal-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuemontreal';
    src: url('https://assets.website-files.com/610c251287ec86f4848cd877/611415742d167b16acc5c169_NeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}